/*. is class 4 styles/html # id 4 styles/html*/

.element {
    float: center;
    text-align: center;
    padding: 0.5em;

}

.centerElements{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.float-child {
    display: flex;
    justify-content: center;
    align-items: center;
}